@font-face {
    font-family: Margin;
    src: url(fonts/Margin.otf);
}

@keyframes indicatorSlide {
    from {  width: 10px;
            height: 10px;
            border-radius: 50%;}
    to {    width: 30px;
            height: 7px;
            border-radius: 4px;}
}

body{
    margin: 0;
}

.headerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 9vw;
    padding-right: 9vw;
    border-bottom: 2px solid #ccc;
    
}
.logo{
    display: flex;
    position: relative;
    width: 120px;
    height: 120px;
    max-width: 100%;
}
/*
.logo{
    line-height: 35px;
    padding: 1.5rem;
}
.mexi{
    color: rgba(34, 139, 34, 0.685);
    padding-right: 0.5rem;
}
.candies{
    color: #E63946;
    
}*/
.logo1{
    display: flex;
}
.logo h2{
    margin: 0;
    font-family: Margin;
    font-size: 1.5cm;
    font-weight: 400;
}
.searchContainer {
    position: relative;
    display: flex;
    align-items: center;
    right: 45px;
    margin: auto;
}

.searchContainer input {
    padding: 15px;
    width: 36vw;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-sizing: border-box;
}

.searchContainer img {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1; 
}

a {
    display: flex;
    align-items: center;
}

a .cartIcon{
    right: 40px;
    margin-left: 10px;
    padding: 1.5rem;
    cursor: pointer;
}
a .profileIcon{
    margin-left: auto;
    cursor: pointer;
}

.bodyContainer{
    background-color: rgba(38, 128, 38, 0.685);
    padding-top: 25px;
}

.carousel-container {
    background-color: white;
    overflow: hidden;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 50%;
    margin: auto;
    margin-top: 0px;
    border: 3px solid rgba(32, 95, 32, 0.842);
    border-top: 0px;
    border-radius: 10px;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    display: flex;
    flex: 0 0 100%;
    justify-content: center;
}

.slide img {
    width: 100%;
    height: auto;
}

.carousel-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
}

.indicator-container {
    display: flex;
    align-items: center;
    padding: 10px;
}

.indicator {
    width: 10px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.active {
    background-color: black;
    animation-name: indicatorSlide;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;

}

.product-container {
    display: flex;
    justify-content: space-between;
    margin-left: 140px;
    margin-right: 140px;
    margin-bottom: 110px;
    opacity: 0;
    transition: opacity 0.8s ease;
}

.product-container.show {
    opacity: 1;
}
.productCard {
    width: 400px;
    height: 550px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 20px;
    float: left;
}

.imgProduct {
    width: 70%;
    padding-top: 30px;
    padding-bottom: 60px;
    height: auto;
    align-self: center;
}

.cardBody {
    padding: 20px;
}

.cardTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin: 0;
    font-size: 18px;
}

.cardPrice {
    font-family: Arial, Helvetica, sans-serif;
    margin: 12px;
    font-size: 20px;
}

.btn-add-to-cart {
    display: block;
    width: 100%;
    padding: 10px;
    background: linear-gradient(90deg, #006847 33.33%, #FFFFFF 33.33%, #FFFFFF 66.67%, #CE1126 66.67%);
    font-size: 18px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn-add-to-cart p{
    color: #000;
    font-size: 20px;
    font-weight: 700;
}

.btn-add-to-cart:hover {
    background-color:  rgba(32, 95, 32, 0.842);
}

h3#product-title {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: Margin;
    font-weight: 400;
    font-size: 65px;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 40px;
    opacity: 0; 
    transition: opacity 0.8s ease; 
}
  
h3#product-title.show {
    opacity: 1; 
}
.cart-container{
    position: relative;
    cursor: pointer;
}

.cart-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: -120px;
    width: 300px;
    max-height: 600px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1000;
    overflow: auto;
}

.cart-dropdown.show {
    display: block;
}


.cart-list button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin: 0 5px;
}
.cartList img{
    width: 50px;
    height: auto;
    margin-right: 10px;
}
.log a img{
    position: relative;
    display: flex;
    left: -50px;
}
.carro img {
    position: relative;
    display: flex;
    top: 0.5px;
}
.cart-list img {
    width: 50px;
    height: 50px;
}
.worldicon{
    position: relative;
    display: flex;
    right: 40px;
    margin-left: 10px;
    padding: 1.5rem;
    cursor: pointer;
    width: 80px;
    height: 80px;
}
.moneda{
    position: relative;
    display: flex;
    top: 1px;
    right: 35px;
    margin-left: 10px;
    padding: 1.5rem;
    cursor: pointer;
    width: 35px;
    height: 35px;
}